.createFoodForm {
  max-width: 700px;
  display: flex;
  margin: auto;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid var(--color-secondary);
  padding: 1.5rem 2.5rem;
  border-radius: 5px;
}

.formField {
  margin: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.formLabel {
  width: 7rem;
  flex-shrink: 0;
}

.formInput {
  width: 100%;
}

.submitButton {
  background-color: var(--color-accent);
  color: var(--color-background);
  width: fit-content;
  margin: auto;
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
}
